<!DOCTYPE html> <html>
  <head>
    <title>Angular QuickStart</title>
    <base href="/<%= service %>/ui/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="pub/styles.css">

    <script type="text/javascript" src="../dist/<%= package %>-polyfills.dist.js"></script>
    <script type="text/javascript" src="../dist/<%= package %>-vendor.dist.js"></script>
  </head>

  <body>
    <index-link index="dist" service="<%= service %>"></index-link>
    <rest-bundle-ui service="<%= service %>" description="Distribution RestBundleComponent">
        Loading RestBundleComponent content here ...
    </rest-bundle-ui>
    <script type="text/javascript" src="../dist/<%= package %>-app.dist.js"></script>
  </body>
</html>
